<%= form_with(model: admin, url: admin_path, local: true, html: {multipart: true}) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h3>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="field 6u 12u(mobilep)">
      <div class="row uniform 50%">
        <div class="field 12u">
          <%= form.text_field :name, placeholder: 'Name' %>
        </div>
      </div>
      
      <div class="row uniform 50%">
        <div class="12u">
          <%= form.text_area :position, placeholder: 'Description of yourself', rows: 8 %>
        </div>
      </div>
    </div>
    
    <div class="field 6u 12u(mobilep)">
      <%= form.label :avatar %>
      <%= image_tag admin.avatar.url(:medium) %><br>
      <%= form.file_field :avatar %>
    </div>
  </div>
  
  <div class="row uniform">
    <div class="actions 12u">
      <%= form.submit 'Submit', :class => 'button special small' %>
    </div>
  </div>
<% end %>