<%= form_with(model: [group, publication], local: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row uniform 50%">
    <div class="field 12u">
      <%= form.text_area :name, id: :publication_name, placeholder: 'Name' %>
    </div>
  </div>
  
  <div class="row uniform 50%">
    <div class="field 12u">
      <%= form.text_field :link, id: :publication_link, placeholder: 'Link' %>
    </div>
  </div>

  <div class="row uniform">
    <div class="actions 12u">
      <%= form.submit 'Submit', :class => 'button special small' %>
    </div>
  </div>
<% end %>