<%= form_with(model: group, local: true, html: {multipart: true}) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="field 6u 12u(mobilep)">
      <div class="row uniform 50%">
        <div class="field 12u">
          <%= form.text_field :name, id: :group_name, placeholder: 'Name' %>
        </div>
      </div>
      
      <div class="row uniform 50%">
        <div class="field 12u">
          <%= form.text_area :description, id: :group_description, placeholder: 'Description', rows: 8 %>
        </div>
      </div>
    </div>
    
    <div class="field 6u 12u(mobilep)">
      <%= form.label :avatar %>
      <%= image_tag group.avatar.url(:medium) %><br>
      <%= form.file_field :avatar %>
    </div>
  </div>
  
  <div class="row uniform">
    <div class="actions 12u">
      <%= form.submit 'Submit', :class => 'button special small' %>
    </div>
  </div>
<% end %>
