<section id="main" class="container">
	<header>
		<h2>Groups</h2>
	</header>
	<div class="box">
		<table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th colspan="5"></th>
        </tr>
      </thead>
  
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td><%= truncate(group.description, :length => 110) %></td>
            <td><%= link_to 'Show', group %></td>
            <td><%= link_to 'Publications', list_group_path(group) %></td>
            <td><%= link_to 'Pages', group_pages_path(group) %></td>
            <td><%= link_to 'Edit', edit_group_path(group) %></td>
            <td><%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
    <%= link_to 'New Group', new_group_path, :class => 'button special small' %>
	</div>
</section>