<section id="main" class="container">
	<header>
		<h2><%= @group.name %></h2>
	</header>
	<div class="box">
		
		<div class="owl-carousel owl-theme">
			<% @images.each do |image| %>
		    	<div class="item"><%= image_tag image.avatar.url %></div>
		    <% end %>
		</div>

		
		<p align="justify"><%= @group.description %></p>

		<% if @users.any? %>
			<h3>Members</h3>
			<div class="row members">
				<div class="3u 12u(narrower)">
					<section class="box special">
						<span class="image featured"><%= image_tag @admin.avatar.url(:medium) %></span>
						<h4><%= @admin.name %></h4>
						<p><%= @admin.position %></p>
					</section>
				</div>
				<% @users.each do |user| %>
					<div class="3u 12u(narrower)">
						<section class="box special">
							<span class="image featured"><%= image_tag user.avatar.url(:medium) %></span>
							<h4><%= user.name %></h4>
							<p><%= user.position %></p>
						</section>
					</div>
				<% end %>
			</div>
		<% end %>

		<% if @publications.any? %>
			<h3>Publications</h3>
			<ul class="alt">
				<% @publications.each do |publication| %>
					<li>
						<%= publication.name %>
						<% if publication.link.present? %>
							| <%= link_to "Link", publication.link, :class => 'button special small' %>
						<% end %>
					</li>
				<% end %>
			</ul>
		<% end %>

		<% if @pages.any? %>
			<h3>Pages</h3>
			<ul class="alt">
				<% @pages.each do |page| %>
					<li><%= page.title %> | <%= link_to "Read", page, :class => 'button special small' %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
</section>

<script>
$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
	items:1
})
</script>