<%= form_with(model: [group, page], local: true) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row uniform 50%">
    <div class="field 12u">
      <%= form.text_field :title, id: :page_title, placeholder: 'Title' %>
    </div>
  </div>
  
  <div class="row uniform 50%">
    <div class="field 12u">
      <%= form.text_area :content, id: :page_content, :class => "tinymce", :rows => 10 %>
    </div>
  </div>

  <div class="row uniform">
    <div class="actions 12u">
      <%= form.submit 'Submit', :class => 'button special small' %>
    </div>
  </div>
<% end %>