<section id="main" >
  <div class="inner">
    <header class="major special">
      <h1>New page</h1>
      <p>Create a new page for the group <%= @group.name %></p>
    </header>

	<%= render 'form', group: @group, page: @page %>
	<%= link_to 'Back', group_path(@group) %>	    
  </div>
</section>

<%= tinymce_assets %>
<%= tinymce %>