<!DOCTYPE html>
<html>
  <head>
    <title>Groups Website</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	 <!--<p class="notice" id="notice"><%= notice %></p>-->
  	 <!--<p class="alert"><%= alert %></p>-->    

    <header id="header">
      <div class="inner">
        <a href="/" class="logo">Research groups</a>
        <nav id="nav">
          <% if user_signed_in? %>
            <%= link_to('Home', root_path) %>        
            <%= link_to('Publications', list_group_path(current_user.group)) %> 
            <%= link_to('Pages', group_pages_path(current_user.group)) %>            
            <%= link_to('Edit my group', edit_group_path(current_user.group)) %>      
            <%= link_to('Edit profile', edit_user_registration_path) %>        
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
          <% elsif admin_signed_in? %>
            <%= link_to('Home', root_path) %>   
            <%= link_to('Groups', groups_path) %>    
            <%= link_to('Users', dashboard_users_path) %>   
            <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>        
          <% else %>
            <%= link_to('Login user', new_user_session_path)  %>  
            <%= link_to('Login admin', new_admin_session_path)  %>  
          <% end %>
        </nav>
      </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    <%= yield %>

    <section id="footer">
      <div class="inner">
        <div class="copyright">
          &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>.
        </div>
      </div>
    </section>

    <script>
      <% if notice %>
        alert("<%= notice %>");
      <% end %>
      <% if alert %>
        alert("<%= alert %>");
      <% end %>
    </script>
  </body>
</html>
